<%- include ('header.ejs') %>
<div class="container">
  <h1>Edit</h1>
  <form action="/articles/<%= article.id %>?_method=PUT" method="POST">
    <%- include('_form_fields.ejs') %>
  </form>
</div>
<%- include ('footer.ejs') %>
